
  @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    background-color:rgba(30, 143, 255, 0); 
    background-image: url(".video/fogo.mp4");
    align-items: center;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background-color: DodgerBlue;
    font-family: 'Russo One', sans-serif;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f100;
    color: white;
    align-items: center;
    font-size: 73px;
    width: 50vw;
    height: 50vh;
  }

  .flex-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: 'Russo One', sans-serif;
    background-color: rgba(221, 33, 33, 0);
  }
  
  .flex-container1 > a {
    background-color: #f1f1f1;
    color: white;
    width: 100px;
    height: 100px;
  }

  

  .text-box {
    margin-left: 44vw;
	 margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}